@import "tailwindcss";

@theme {
  --color-primary: #34A853;

  --color-background-light: #F5F5F5;

  --color-card-light: #FFFFFF;

  --color-text-light: #1f2937;

  --color-subtext-light: #6b7280;

  --font-sans: "Inter", sans-serif;
}

:root {
  --color-background: var(--color-background-light);
  --color-card:       var(--color-card-light);
  --color-text:       var(--color-text-light);
  --color-subtext:    var(--color-subtext-light);
}